p {
  font-weight: bolder;
}

thead.collapsible-jquery {
  color: white;
  padding: 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

td.nodata {
  font-size: 48px;
  font-weight: bolder;
  height: 65px;
  font-family: Arial;
  border: none;
  text-align: center;
}

.SettingsTable {
  text-align: left;
}

.SettingsTable input {
  margin-left: 3px;
  margin-top: 3px;
}

.SettingsTable input.savebutton {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  border-right: solid 1px black;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
}

.SettingsTable .cronbutton {
  text-align: center;
  min-width: 50px;
  width: 50px;
  height: 23px;
  vertical-align: middle;
}

.SettingsTable select {
  margin-left: 3px;
}

.SettingsTable label {
  margin-right: 10px;
  vertical-align: top;
}

.SettingsTable th {
  background-color: #2f3a3e;
  background: #2F3A3E;
  border-bottom: none;
  border-top: none;
  font-size: 12px;
  color: white;
  padding: 4px;
  font-weight: bolder;
}

.SettingsTable td {
  word-wrap: break-word;
  overflow-wrap: break-word;
  border-right: none;
  border-left: none;
}

.SettingsTable span.settingname {
  background-color: #2f3a3e;
  background: #2F3A3E;
}

.SettingsTable td.settingname {
  border-right: solid 1px black;
  border-left: solid 1px black;
  background-color: #2f3a3e;
  width: 35%;
}

.SettingsTable td.settingvalue {
  text-align: left;
  border-right: solid 1px black;
}

.SettingsTable th:first-child {
  border-left: none;
}

.SettingsTable th:last-child {
  border-right: none;
}

.SettingsTable .invalid {
  background-color: darkred;
}

.SettingsTable .disabled {
  background-color: #ccc;
  color: #888888;
}

.removespacing {
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 5px;
  text-align: center;
}

.FormTable td .schedulespan {
  display: inline-block;
  width: 70px;
  color: #fff;
  font-weight: bold;
}

div.schedulesettings {
  margin-bottom: 5px;
}

div.sortTableContainer {
  height: 795px;
  overflow-y: scroll;
  width: 745px;
  border: 1px solid #000;
}

.sortTable {
  table-layout: fixed;
  border: none;
}

thead.sortTableHeader th {
  background-image: linear-gradient(rgb(146, 160, 165) 0%, rgb(102, 117, 124) 100%);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000;
  font-weight: bolder;
  padding: 2px;
  text-align: center;
  color: #fff;
  position: sticky;
  top: 0;
  font-size: 11px;
}

thead.sortTableHeader th:first-child,
thead.sortTableHeader th:last-child {
  border-right: none;
}

thead.sortTableHeader th:first-child,
thead.sortTableHeader td:first-child {
  border-left: none;
}

tbody.sortTableContent td {
  border-bottom: 1px solid #000;
  border-left: none;
  border-right: 1px solid #000;
  border-top: none;
  padding: 2px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
}

tbody.sortTableContent tr.sortRow:nth-child(odd) td {
  background-color: #2f3a3e;
}

tbody.sortTableContent tr.sortRow:nth-child(even) td {
  background-color: #475a5f;
}

th.sortable {
  cursor: pointer;
}

td.savebutton {
  border: 0;
  background-color: rgb(77, 89, 93);
}

.testbutton {
  text-align: center;
  min-width: 75px;
  width: 75px;
  margin-bottom: 3px;
  vertical-align: middle;
  height: 24px;
}

.navbutton {
  text-align: center;
  min-width: 122px;
  width: 122px;
  vertical-align: middle;
  height: 55px;
}

.chartnavbutton {
  text-align: center;
  min-width: 122px;
  width: 122px;
  vertical-align: middle;
  margin: 5px;
}

.notificationtypenavbutton {
  text-align: center;
  min-width: 122px;
  width: 122px;
  vertical-align: middle;
  height: 55px;
  margin: 5px;
}

.notificationmethodnavbutton {
  text-align: center;
  min-width: 120px;
  width: 120px;
  vertical-align: middle;
  height: 55px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 3px;
}
