p {
  font-weight: bolder;
}

thead.collapsible-jquery {
  color: white;
  padding: 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

td.nodata {
  font-size: 48px !important;
  font-weight: bolder !important;
  height: 65px !important;
  font-family: Arial !important;
  border: none !important;
  text-align: center !important;
}

.StatsTable {
  table-layout: fixed !important;
  width: 747px !important;
  text-align: center !important;
}

.StatsTable th {
  background-color: #2f3a3e !important;
  border-bottom: none !important;
  border-top: none !important;
  color: white !important;
  padding: 4px !important;
  font-size: 11px !important;
}

.StatsTable td {
  padding: 2px !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  font-size: 12px !important;
}

.StatsTable a {
  font-weight: bolder !important;
  text-decoration: underline !important;
}

.StatsTable th:first-child,
.StatsTable td:first-child {
  border-left: none !important;
}

.StatsTable th:last-child,
.StatsTable td:last-child {
  border-right: none !important;
}

.SettingsTable {
  text-align: left;
}

.SettingsTable input {
  margin-left: 3px !important;
  margin-top: 3px;
}

.SettingsTable input.savebutton {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  border-right: solid 1px black;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
}

.SettingsTable .cronbutton {
  text-align: center;
  min-width: 50px;
  width: 50px;
  height: 23px;
  vertical-align: middle;
}

.SettingsTable select {
  margin-left: 3px !important;
}

.SettingsTable label {
  margin-right: 10px !important;
  vertical-align: top;
}

.SettingsTable th {
  background-color: #2f3a3e !important;
  background: #2F3A3E !important;
  border-bottom: none !important;
  border-top: none !important;
  font-size: 12px !important;
  color: white !important;
  padding: 4px !important;
  font-weight: bolder !important;
}

.SettingsTable td {
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  border-right: none;
  border-left: none;
}

.SettingsTable span.settingname {
  background-color: #2f3a3e !important;
  background: #2F3A3E !important;
}

.SettingsTable td.settingname {
  border-right: solid 1px black;
  border-left: solid 1px black;
  background-color: #2f3a3e !important;
  width: 35% !important;
}

.SettingsTable td.settingvalue {
  text-align: left !important;
  border-right: solid 1px black;
}

.SettingsTable th:first-child {
  border-left: none !important;
}

.SettingsTable th:last-child {
  border-right: none !important;
}

.SettingsTable .invalid {
  background-color: darkred !important;
}

.SettingsTable .disabled {
  background-color: #ccc !important;
  color: #888888 !important;
}

.removespacing {
  padding-left: 0;
  margin-left: 0 !important;
  margin-bottom: 5px !important;
  text-align: center;
}

.schedulespan {
  display: inline-block !important;
  width: 70px !important;
  color: #fff !important;
  font-weight: bold !important;
}

div.schedulesettings {
  margin-bottom: 5px;
}

div.sortTableContainer {
  height: 795px;
  overflow-y: scroll;
  width: 745px;
  border: 1px solid #000;
}

.sortTable {
  table-layout: fixed !important;
  border: none;
}

thead.sortTableHeader th {
  background-image: linear-gradient(rgb(146, 160, 165) 0%, rgb(102, 117, 124) 100%);
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #000 !important;
  font-weight: bolder;
  padding: 2px;
  text-align: center;
  color: #fff;
  position: sticky;
  top: 0;
  font-size: 11px !important;
}

thead.sortTableHeader th:first-child,
thead.sortTableHeader th:last-child {
  border-right: none !important;
}

thead.sortTableHeader th:first-child,
thead.sortTableHeader td:first-child {
  border-left: none !important;
}

tbody.sortTableContent td {
  border-bottom: 1px solid #000 !important;
  border-left: none !important;
  border-right: 1px solid #000 !important;
  border-top: none !important;
  padding: 2px;
  text-align: center;
  overflow: hidden !important;
  white-space: nowrap !important;
  font-size: 12px !important;
}

tbody.sortTableContent tr.sortRow:nth-child(odd) td {
  background-color: #2f3a3e !important;
}

tbody.sortTableContent tr.sortRow:nth-child(even) td {
  background-color: #475a5f !important;
}

th.sortable {
  cursor: pointer;
}

td.savebutton {
  border: 0;
  background-color: rgb(77, 89, 93);
}

.testbutton {
  text-align: center !important;
  min-width: 75px;
  width: 75px;
  margin-bottom: 3px;
  vertical-align: middle;
  height: 24px;
}

.navbutton {
  text-align: center !important;
  min-width: 122px;
  width: 122px;
  vertical-align: middle;
  height: 55px;
}

.chartnavbutton {
  text-align: center !important;
  min-width: 122px;
  width: 122px;
  vertical-align: middle;
  margin: 5px;
}

.notificationtypenavbutton {
  text-align: center !important;
  min-width: 122px;
  width: 122px;
  vertical-align: middle;
  height: 55px;
  margin: 5px;
}

.notificationmethodnavbutton {
  text-align: center !important;
  min-width: 120px !important;
  width: 120px;
  vertical-align: middle;
  height: 55px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 3px;
}
